{% macro tree_element(text, idents=0, table_name = "", table_id = "", not_locked = true, badge = 0, arrow = false) %}
{% for i in 0..idents %}
		&nbsp;
	{% endfor %}

	{% if arrow %}
		<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;
	{% endif %}

<label class="tree-toggle">{{ text }}</label>
	
	{% set minus_style = "locked" %}
	{% set plus_style =  "locked" %}

	{% if not_locked %}
		{% set plus_style = "plus_unlocked" %}
	{% endif %}
	
	{% if table_name != "imei" %}
		&nbsp;&nbsp;
		<span class="badge">{{ badge }}</span>
	{% endif %}
&nbsp;&nbsp;
		<span table_name = "{{ table_name }}" table_id = "{{ table_id }}" class="glyphicon glyphicon-plus {{ plus_style }}"></span>
{% endmacro %}